<a href="https://colab.research.google.com/github/Clever-Lazinezz/NoteBook/blob/main/Basics_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro to Python II

# Data Structures

## 1) Lists

In [ ]:
st = []

# In this line I am defining an empty list.
# To defien a list, I create a variable name such as 'List' and then I assigned an empty set of squared brackets
# By assign, I mean to simply use a single equal sign!

SyntaxError: ignored

In [ ]:
my_list = ['Hello', 100, 23.47]

In [ ]:
print(my_list)

['Hello', 100, 23.47]

In [ ]:
type(my_list)

list

In [ ]:
second_list = ["one", "two", "three"]

In [ ]:
print(my_list, second_list)

['Hello', 100, 23.47] ['one', 'two', 'three']

## 2) Indexing in a list

In [ ]:
students = ["Robert", "Chris", "Katrina", "Scarlett"]

In [ ]:
students

['Robert', 'Chris', 'Katrina', 'Scarlett']

In [ ]:
students[0]

'Robert'

In [ ]:
string1 = "this is a string"

In [ ]:
string1

'this is a string'

In [ ]:
string1[2]

'i'

## 3) Editing the list's

In [ ]:
students

['Robert', 'Chris', 'Katrina', 'Scarlett']

In [ ]:
##replace element
students[0] = "Sam"

In [ ]:
##add values
students.append("Paul")
students

['Sam', 'Chris', 'Katrina', 'Scarlett', 'Paul']

In [ ]:
## Remove values
students.remove("Paul")
students

['Sam', 'Chris', 'Katrina', 'Scarlett']

In [ ]:
list1 = ["one", "two", "three", "four", "five"]

In [ ]:
list1.pop(2)

'three'

In [ ]:
list1

['one', 'two', 'four', 'five']

## 4)Add list into list

In [ ]:
color = ["red", "blue", "green", "orange"]

In [ ]:
color

['red', 'blue', 'green', 'orange']

In [ ]:
age = [21, 23, 25, 27]

In [ ]:
age

[21, 23, 25, 27]

In [ ]:
color.extend(age)

In [ ]:
color

['red', 'blue', 'green', 'orange', 21, 23, 25, 27]

## 5)Python in-build function with the list's

In [ ]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

In [ ]:
numbers = even + odd

In [ ]:
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
print(sorted(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len(numbers)

9

In [ ]:
max(numbers)

9

In [ ]:
min(numbers)

1

In [ ]:
#

## Dictionaries

## 1) Define a Dictionary

In [ ]:
my_dict = {"key1":"value1", "key2":"value2"}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
my_dict["key1"]

'value1'

In [ ]:
fruits = {"Apple":3, "Banana":1.75, "Cherry":2}
fruits 
fruits["Apple"]

3

## 2) Dictionaries with all data types

In [ ]:
new_dict = {"k1":147, "k2": [ 15, 25, 35], "k3":["Apple"]}

In [ ]:
new_dict["k3"]

['Apple']

## 3) Replace Values

## Tuples

In [ ]:
# Tuples are immutable

## Define a Tuple

In [ ]:
prime_numbers = (2,3,5,7,11)

In [ ]:
prime_numbers

(2, 3, 5, 7, 11)

In [ ]:
perfect_squares = [1,4,9,16,25,36,49,64,81,100,121]
type(perfect_squares)

list

In [ ]:
len(prime_numbers)

5

In [ ]:
len(perfect_squares)

6

In [ ]:
my_tuple = ("Hiee", 100,100, 12, 47)
my_tuple

('Hiee', 100, 100, 12, 47)

## Indexing in Tuples

In [ ]:
my_tuple[0]

'Hiee'

In [ ]:
my_tuple[1]

100

In [ ]:
my_tuple[0:2]

('Hiee', 100)

In [ ]:
perfect_squares[2:5]

[9, 16, 25]

In [ ]:
#returns number of occurences of given item
my_tuple.count(100)

2

## Sets

In [ ]:
# Sets have no repeats

In [ ]:
my_set = set()

In [ ]:
my_list = [ 1, 1, 1, 2, 2, 3,"Apple", "Apple"]

In [ ]:
set(my_list)

{1, 2, 3, 'Apple'}

In [ ]:
my_set

set()

In [ ]:
my_set.add(22)

In [ ]:
my_set.add(23)

In [ ]:
my_set

{22, 23}

## Strings...Part II

## 1) Concatenation of the Strings

In [ ]:
greeting = "Hello"
name = "Mark"
print(greeting + name)

HelloMark

In [ ]:
print(greeting + " " + name)

Hello Mark

## 2) Input Function

In [ ]:
name = input("What is your name: ")

What is your name: John

In [ ]:
print(greeting + " " + name)

Hello John

## 3) Indexing Strings

In [ ]:
color = "Orange"

In [ ]:
color[3]

'n'

In [ ]:
color[-1]

'e'

In [ ]:
color[-2]

'g'

In [ ]:
color[2:-1]

'ang'

## 4) String Formatting

In [ ]:
age = str(27)

In [ ]:
##Strings can only be concated with other strings, including in print methods
print("My age is " + age + " years old")

My age is 27 years old

In [ ]:
print("The colors are {r} {g} {b} ".format(r="Red", g="Green", b="Blue"))

The colors are Red Green Blue

In [ ]:
pi = 3.1415

In [ ]:
print("The value of pi is {}".format(pi))

In [ ]:
print(f"The value of pi is {pi}")

## Converting to Binary

In [ ]:
bin_num = 0b10
oct_num = 0o10
hex_num = 0x10

print(bin_num)
print(oct_num)
print(hex_num)

2
8
16

In [ ]:
num = int(input("Choose a number to convert to binary"))

Choose a number to convert to binary23

In [ ]:
bin(num)

'0b10111'

# Loops

## For Loops

In [ ]:
my_list = [1,2,3,4,5,6,34,980,3756,26]

In [ ]:
list_sum = 0

In [ ]:
for num in my_list:
  list_sum = list_sum + num
print(list_sum)

14451

In [ ]:
for num in my_list:
  list_sum = list_sum + num
  print(list_sum)

14452
14454
14457
14461
14466
14472
14506
15486
19242
19268

In [ ]:
# Note the importance of format in python

In [ ]:
my_list = [(1,2,3), (4,5,6), (7,8,9)]
len(my_list)

3

In [ ]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [ ]:
my_dict = {"k1":1, "k2":2, "k3":3}

In [ ]:
for i in my_dict:
  print(i)

k1
k2
k3

In [ ]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [ ]:
for a,b in my_dict.items():
  print(b)

1
2
3

## While Loops

In [ ]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [ ]:
i = 10

while i < 5:
  print(i)
  i = i + 1 
else:
  print("i is not less than 5")

i is not less than 5

## Pass, Break, and Continue

In [ ]:
s = [1,2,3,4,5]

for items in s:
  #comment
  pass
print("I will work after!!!")

I will work after!!!

In [ ]:
my_string = "Hello World"

for letters in my_string:
  if letters == "r":
    break
  print(letters)

H
e
l
l
o

W
o

In [ ]:
i = 0

while i < 5:
  if i == 3:
    break
  print(i)
  i = i + 1

0
1
2

# Most USed Built-In Funcitons in Python

## 1) Range Function

In [ ]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(3,10):
  print(num)

3
4
5
6
7
8
9

In [ ]:
for num in range(0,11,2):
  print(num)

0
2
4
6
8
10

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 2) Enumerate

It gives us back an index count and ...

In [ ]:
# https://www.python-ds.com/python-3-escape-sequences

## 3) Zip

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["a", "b", "c", "d", "e"]
list3 = ["a", "b", "d",]

In [ ]:
list4 = zip(list1,list2)

In [ ]:
print(list4)

<zip object at 0x7f551d92e870>

In [ ]:
for a,b in zip(list1, list2):
  print(a,b)

1 a
2 b
3 c
4 d
5 e